{% extends "ident/base.html" %}
{% load staticfiles %}
{% load ident_filters %}
{% block conteudo %}

<form class="form-horizontal" enctype="multipart/form-data"  action="" method="post" >{% csrf_token %}
  <fieldset>
    <legend>Individuo</legend>
    <div class="form-group">
      <label for="{{ form.nome.id_for_label }}" class="col-lg-2 control-label">Nome</label>
      <div class="col-lg-10">
        {{ form.nome|addcss:"form-control" }}
      </div>
    </div>

    <div class="form-group">
      <label for="{{ form.nome.id_for_label }}" class="col-lg-2 control-label">Alcunha</label>
      <div class="col-lg-10">
        {{ form.alcunha|addcss:"form-control" }}
      </div>
    </div>

    <div class="form-group">
      <label for="{{ form.foto.id_for_label }}" class="col-lg-2 control-label">Foto</label>
      <div class="col-lg-10">
        {{ form.foto|addcss:"file" }}
      </div>
    </div>


    <div class="form-group">
      <label for="{{ form.sexo.id_for_label }}" class="col-lg-2 control-label">Sexo</label>
      <div class="col-lg-10">
        {{ form.sexo|addcss:"form-control"}}
        <br>
      </div>
    </div>


    <div class="form-group">
      <label for="{{ form.natural.id_for_label }}" class="col-lg-2 control-label">Alcunha</label>
      <div class="col-lg-10">
        {{ form.natural|addcss:"form-control" }}
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>


{% endblock %}